<ion-menu side="start" contentId="principal" menuId="menu" color="dark">
  <ion-content color="dark">
    <ion-list color="dark">
      <ion-menu-toggle>
        <ion-item color="dark">
          <ion-label (click)="mostrarRelojes()">Relojes</ion-label>
        </ion-item>
        <ion-item color="dark">
          <ion-label (click)="mostrarPulsos()">Pulsos</ion-label>
        </ion-item>
        <ion-item color="dark">
          <ion-label (click)="mostrarBaterias()">Baterias</ion-label>
        </ion-item>
        <ion-item color="dark">
          <ion-label (click)="mostrarCalculadoras()">Calculadoras</ion-label>
        </ion-item>
        <ion-item color="dark">
          <ion-label (click)="mostrarHerramientas()">Herramientas</ion-label>
        </ion-item>
        <ion-item color="dark">
          <ion-label (click)="mostrarCuenta()">{{usuario.CodClie.length > 0 ? "Mi cuenta" : "Ingresar"}}</ion-label>
        </ion-item>

        <ion-item color="dark" *ngIf="usuario.CodClie.length > 0">
          <ion-label (click)="cerrar()">Salir</ion-label>
        </ion-item>        
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>